<%if payment.purchase_order? %>
<div class="panel panel-default" id="purchase_order_form" data-hook>
  <%= hidden_field_tag "order[payments_attributes][][amount]"  %>
  <%= hidden_field_tag "order[payments_attributes][][payment_method_id]", payment.payment_method.id %>

  <div class="panel-heading">
    <h3 class="panel-title">Purchase Order Details</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p><strong>All Purchase Orders require a PO Number before placing an order as well as a digital copy of the Purchase order itself.</strong></p>
        <p>If you cannot upload a digital version of your Purchase Order, it can be faxed to <a href="tel:612-888-8888">612-888-8888</a></p>
        <p>Orders made with a Purchase Order as the form of payment will not be shipped or completed until the PO number and copy of the Purchase Order have been verified.</p>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <p class="field">

          <%= label_tag "order[payments_attributes][][po_number]" do %>
              <%= 'Purhase Order Number' %><abbr class="required" title="required">*</abbr>
          <% end %>
          <br/>
          <%= text_field_tag "order[payments_attributes][][po_number]", '', :class => 'input required', :style=>'width:300px;', :maxlength => 64, :required => true, :placeholder => 'Enter your PO Number Here'%>

        </p>
      </div>
      <div class="col-md-6 col-xs-12">
        <div data-hook="file" class="form-group">
          <%= f.label 'payments_attributes][][po_image]', "Upload a PDF document of your Purchase Order"%>
          <%= f.file_field 'payments_attributes][][po_image]', :class => 'input required', :required => false %>
        </div>
      </div>

      </div>
    </div>

  <script type='text/javascript'>
    $(document).ready(function(){
      var form = $('#checkout_form_confirm');
      form.submit(function(){
        var po=$('#order_payments_attributes__po_number');
        var poval = $.trim(po.val());
        if( !poval.length) {
          po.focus();
          alert('Please fill out the Purchase Order Number!');
          Spree.enableSave();
          return false;
        }
        return true;
      });
    })
  </script>
</div>
<% end %>
