<fieldset data-id="purchase_order">
  <div id="purchase_order<%= payment_method.id %>" class="margint" data-hook>
    <% param_prefix = "payment_source[#{payment_method.id}]" %>

    <div data-hook="purchase_order_number" class="form-group">
      <%= label_tag "purchase_order#{payment_method.id}", raw('Purchase Order Number:' + content_tag(:span, ' *', :class => 'required')) %>
      <%= text_field_tag "payment[po_number]", @payment.po_number, id: "purchase_order#{payment_method.id}", class: 'required form-control', maxlength: 64 %>
    </div>

    <div data-hook="purchase_order_image" class="form-group">

      <div class="col-md-6">
        <%= f.label :po_image, "Current Document" %>
        <br/>
        <% if !:po_image.nil? %>
          <a href="<%= @payment.po_image.url %>" target="_blank">Download: <%= @payment.po_image_file_name %></a>
        <% end %>
      </div>
      <div class="col-md-6">
        <div data-hook="file" class="form-group">
          <%= f.label :po_image, "Upload new document"%>
          <%= f.file_field :po_image %>
        </div>
      </div>

    </div>

  </div>
</fieldset>
